<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="assets/img/nat-8.jpg" alt="Tour photo" class="popup__img"/>
      <img src="assets/img/nat-9.jpg" alt="Tour photo" class="popup__img"/>
    </div>
    <div class="popup__right">
      <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
      <p class="popup__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia hic alias, excepturi consectetur quibusdam iste minima nobis impedit recusandae officiis eum. Quia quae dignissimos alias, quas ipsam exercitationem earum ad!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magnam repellendus incidunt earum, eum maiores et exercitationem labore voluptatum, quidem officia. Quo, eligendi odit. Sed illum illo maiores a distinctio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorem repellendus ut doloremque, optio tempora fugit excepturi officia odit voluptate voluptatum atque sed maiores enim blanditiis! Non eius sint consequatur!
      </p>
      <a href="#" class="btn btn--green">Book now</a>
    </div>
  </div>
</div>
