<section class="section-stories">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="assets/video/video.mp4" type="video/mp4">
      <source src="assets/video/video.webm" type="video/webm">
      Your browser is not supported
    </video>
  </div>
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      We make people genuinely happy
    </h2>
  </div>
  <app-story-detail [stories]="stories"></app-story-detail>
  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn-text">Read all stories &rarr;</a>
  </div>
</section>
