*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include screen(tab-land) {
		font-size: 56.25%; // 1 rem = 9px, 9/16=56.25%;
	}

	@include screen(tab-port) {
		font-size: 50%; // 1 rem = 8px, 8/16 = 50%;
	}

	@include screen(big-desktop) {
		font-size: 75%; //1 rem = 12, 12/16
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include screen(tab-port) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}
